<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWM</title>
</head>
<body>

<main>
<div id="welcome">
    <h1>OpenWeatherMap sample</h1>
    <p>This is a sample project to play with OpenWeatherMap's API.</p>
</div>
<div id="form">
    <form method="POST" action="/play">
        <label for="user"><h3>So, uh, where are you?</h3>
        <p><input name="user" id="user" type="text" maxlength="20"></p></label>
        <p><button name="Submit" type="submit" value="Submit">Check your weather</button></p>
    </form>
</div>
</main>

</body>